@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');




h1{
    color: red;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid yellowgreen;
    width:20%;
    margin-left: 42.5%;
}

p{
    color:white;
    text-indent: 20px;

}

body{
    position: relative;
    background-image:url(/img/feuille.png);
    background-size: auto;
    background-attachment: fixed;
    font-family:'My Soul';
}

.material-symbols-outlined {
    font-size: 100px;
    color: red;
}

a{
    color: aqua;
    border: 1px solid blue;
    text-decoration: none; 
    margin: 25px;
    padding: 5px;
    border-radius: 25px 10px 10px 25px;
}

h2{
    text-align: center;
    border-left: 10px double yellow;
    width:10%;
    margin-left: 42.5%;
}

#bas{
    border: 5px dotted plum;
    font-size: 50px;
}

#haut{
    border: 5px dotted plum;
    font-size: 75px ;
}

.menu{
    border: 1px solid pink;
    height: 230px;
}

.mage{
    display: flex;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin: 5px;

}

.image{
    display: flex;
    width: 100%;
    height: 450px;
    border: 1px solid black;
    margin: 5px;
    justify-content: flex-start;
    overflow: auto;
}

.container{
    display: flex;
    justify-content:center;
    width: 80%;
    height: 450px;
    border: 1px solid rgb(255, 0, 212);    
    margin: 1px;
    background-image: url(/img/eric_endormi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;

    

}
.cagette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid rgb(230, 255, 3);
    margin: 1px;
}
.case{
    display: flex;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(253, 2, 2);
    margin: 5px;
    color: blue;
    justify-content: center;
    align-items: center;
}
.containeur{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 4px solid orangered;    
    margin: 1px;
}
.colonne{
    display: flex;
    width: 550px;
    border: 1px solid orange;    
    margin: 1px;
    flex-direction: column;
}
.casier{
    display: flex;
    width: 300px;
    height: 700px;
    border: 1px solid pink;    
    margin: 1px;
}
.titre{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid blue;    
    margin: 1px;
    justify-content: left;
    flex-direction: column;
}
.droite{
    display: flex;
    width: 200px;
    height: 700px;
    border: 1px solid purple;    
    margin: 3px;
    overflow: auto;
}

header{
    position: fixed;
    width: 100%;
}
.titreprincipal{
    margin-top: 100px;
}
.paragraphe{
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    border: 1px dashed yellowgreen;
}